<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444234994605-ilio9gamoj7m22t0l561016sk19ug19l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444234994605-ilio9gamoj7m22t0l561016sk19ug19l</string>
	<key>API_KEY</key>
	<string>AIzaSyDJBZmU3PC4pazxwQeOG9iENRvQ03OzrlE</string>
	<key>GCM_SENDER_ID</key>
	<string>444234994605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binhpct.swiftui-demo</string>
	<key>PROJECT_ID</key>
	<string>swiftui-demo-51ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-demo-51ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444234994605:ios:d03440285bcb8b054f4724</string>
</dict>
</plist>